#nav{
  background: transparent;

  #navbar-menu{
    div{
      a{
          color: $dark-blue;
          font-family: 'Ubuntu', sans-serif;
          font-weight: bold;
          border: 2px solid $dark-blue;
          padding: 10px;
          margin: 20px;
      }
    }
  }
}
