#nav{
  background: transparent;

  #navbar-menu{
    div{
      a{
          color: #0094B8;
          font-family: 'Ubuntu', sans-serif;
          font-weight: bold;
          border: 2px solid #1F92B4;
          padding: 10px;
          margin: 20px;
      }
    }
  }
}
